# Core Framework
streamlit==1.58.0
python-dotenv==1.0.0

# LLM & Language Models
groq==1.4.0
langchain>=0.2.0
langchain-core>=1.4.0
langsmith>=0.8.5
langchain-community>=0.4.1
langchain-groq>=1.1.2

# Vision & Torch
torch==2.2.2
torchvision==0.17.2

# Image Processing
Pillow==10.0.1
numpy==1.26.4

# Utilities
protobuf==5.27.1
typing-extensions==4.11.0
requests==2.32.5
packaging==24.0
tqdm==4.66.1
PyYAML==6.0.1
